@layer components {
  .movie__reviews {
    @apply overflow-auto pr-8 pt-6 mb-4;
    height: 600px;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #afacac;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #25D399;
      border-radius: 10px;
    }
  }
}
