@layer components {
  .top-new-large {
    @apply grid grid-cols-3 gap-4 w-full h-full relative cursor-pointer;
    background-color: #1a222a;
    max-height: 400px;

    &__ranking {
      @apply absolute -top-3 -left-2;
    }
    &__thumbnails {
      @apply col-span-2 relative overflow-hidden h-full;
      img {
        @apply transition duration-300 ease-in-out object-cover;
        width: 100%;
        
      }
      &:hover {
        img {
          @apply transform scale-110;
        }
        .category {
          bottom: 55%;
        }
      }
    }
    &__title {
      @apply z-10 pr-4 py-4;
      h2 {
        @apply text-2xl font-semibold -mt-2;
      }
      p {
        margin-top: 10px;
      }
      .category {
        @apply absolute  right-0;
        bottom: 53%;
        a {
          @apply inline-block border-2 font-medium text-xs uppercase px-3.5 py-2 transition-all duration-300 ease-in-out mr-4 bg-gray-600;
          color: "#9aace5";
          border-color: rgba(168, 177, 198, 0.2);
          &:hover {
            @apply bg-gray-900;
          }
        }
      }
    }
  }
}
