@layer components {
  .movie__card {
    @apply rounded-lg overflow-hidden ;
    height: 32rem;

    &__img {
      @apply h-2/3 relative overflow-hidden;
      img {
        @apply transition duration-300 ease-in-out object-cover;
      }

      &__playTrailer {
        @apply absolute top-1/2 left-1/2
          scale-100 text-white rounded-full opacity-0 transition duration-700 cursor-pointer outline-none;
        transform: translate(-50%, -50%);
        i {
          @apply border-2 border-solid border-white rounded-full text-white 
            cursor-pointer transition-all scale-100 hover:scale-110;
          padding: 20px;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }

    &__content {
      @apply px-5 py-0;
      background-color: rgb(26, 34, 42);

      .movie__card__title {
        @apply py-2 px-0 capitalize border-b border-dashed text-xl font-semibold line-clamp-2 ;
        border-color: #11326f;
        h5{
          height: 62px;
        }
      }

      .movie__card__rating {
        @apply grid grid-cols-3 gap-4 py-2 px-0;

        .card__rating_item {
          @apply flex flex-row;
        }
      }
    }

    &:hover {
      .movie__card__img {
        img {
          @apply transform scale-110;
        }
        &__playTrailer {
          opacity: 1;
        }
      }
      .movie__card__title {
        color: #31d7a9;
      }
    }
  }
}
