@layer components {
  .newsletter {
    @apply max-w-screen-lg mx-auto pb-32;

    &__container {
      @apply rounded-2xl overflow-hidden relative px-5 py-14 text-center;
      &::after {
        @apply absolute opacity-70 inset-0 rounded-2xl;
        content: "";
        background-image: linear-gradient(0deg, #7400ba 0%, #0f5ae0 100%);
      }
      * {
        @apply relative z-10;
      }

      &__wrapper {
        @apply max-w-screen-sm mx-auto my-0;

        .newsletter__title--sm {
          @apply mb-6 text-xl font-medium uppercase;
          color: #31d7a9;
        }

        .newsletter__title--md {
          @apply mb-12 text-3xl font-bold uppercase;
        }

        .newsletter__form {
          @apply mb-9;
          &__input {
            @apply relative w-full h-12 pr-40 pl-5 border-solid border rounded-3xl bg-transparent focus:outline-none;
            color: #99abe2;
            border-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          }
          &__btn{
            @apply absolute top-0 right-0 w-auto;
          }
        }
      }
    }
  }
}
