@layer components {
  .news-details {
    &__article {
      &__category {
        a {
          @apply inline-block font-medium text-xs italic uppercase px-2 py-1 
                transition-all duration-300 ease-in-out mr-2;
          color: "#fff";
          background-color: #df7e08;
          &:hover {
            @apply bg-gray-600;
          }
        }
      }

      &__title {
        @apply font-semibold text-4xl;
        line-height: 2.25rem;
      }

      &__info {
        @apply flex flex-wrap items-end my-4 text-sm space-x-3;
        .author {
          @apply uppercase font-medium;
        }
        .space {
          color: #ffc033;
          @apply font-bold text-xl;
        }
      }

      &__thumbnails {
        @apply py-4;
      }

      &__content {
        p {
          @apply my-4;
        }
      }

      &__footer {
        background-color: #1a222a;
        @apply px-6 pb-4 pt-2 mt-8;
        &__title {
          @apply relative font-medium uppercase tracking-wider pb-1.5 italic mb-4;
          &::before {
            @apply absolute bottom-0 left-0 w-52 h-0.5 rounded-lg;
            background-color: #ffc033;
            content: "";
          }
        }
        &__wrapper {
          @apply flex flex-wrap;
          .info {
            @apply w-2/3 pl-4;
            .name {
              @apply uppercase font-semibold text-lg mb-1;
            }
            p {
              line-height: 1.25rem;
            }
          }
        }
      }

      &__discussion {
        h3 {
          @apply text-3xl font-medium uppercase tracking-wider pb-1.5 mb-4;
          border-bottom: 5px solid #ffc033;
        }

        .your-comment {
          h4 {
            @apply text-xl font-medium italic mb-4;
          }
          textarea {
            @apply w-full bg-transparent rounded-md px-4 py-2 mb-2 focus:outline-none focus:ring-2 focus:ring-yellow-500 ;
            background-color: #1a222a;
          }
          input {
            @apply py-2 px-6 italic font-medium rounded-md 
            transition duration-300 cursor-pointer;
            background-color: #1a222a;
            &:hover {
              background-color: #ffc033;
              color: #000;
            }
          }
        }
      }
    }
    &__related {
      .news-category {
        a {
          @apply inline-block font-medium italic uppercase px-3 py-0.5 
                transition-all duration-300 ease-in-out mr-3 my-2;
          color: "#fff";
          font-size: 15px;
          background-color: #df7e08;
          &:hover {
            @apply bg-gray-600;
          }
        }
      }
    }
  }
}
