@layer components {
  .food__card {
    @apply rounded-xl p-0.5 border cursor-pointer;
    background: #1a222a;
    border-color: #213a69;
    &:hover {
      h5 {
        @apply text-green-400;
      }
    }

    &__img {
      @apply rounded-t-lg h-3/5 relative;
      background: rgba(15, 21, 26, 0.8);
      overflow: visible;
      .price {
        @apply w-12 h-16 text-2xl font-bold flex 
        justify-center items-start absolute -top-2 right-0;
        background: #eb1436;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
      }
    }
    &__wrapper {
      @apply h-2/5 px-4 mt-2;
      h5 {
        @apply text-center text-xl font-semibold mt-1 h-14 mb-1 overflow-hidden;
      }
      p {
        @apply h-14 -mt-2;
        border-color: #11326f;
      }
      .order {
        @apply w-4/6 grid grid-cols-3 mx-auto text-xl text-center;
        button {
          @apply border py-1 focus:outline-none flex justify-center items-center;
          border-color: #11326f;
        }
      }
    }
  }
}
