@layer components {
  .profile {
    &__wrapper {
      &__info {
        background-position: top left;
        @apply h-52 pt-3 flex flex-col text-center;
        .info__avatar {
          @apply flex justify-center items-center;
          img {
            border: 3px solid #ffc033;
            width: 150px;
            height: 150px;
            object-fit: cover;
          }
        }
        .info__name {
          @apply capitalize font-bold text-3xl;
        }
      }

      &__content {
        height: 900px;
        .content__head {
          @apply h-14 mb-5 text-center grid grid-cols-3;
          background-color: #1a222a;
          .head__item {
            @apply h-full relative font-semibold focus:outline-none;
          }
        }
        .content__body {
          @apply absolute transform transition-all duration-500;
        }
      }
    }
  }
}
