@layer components {
  .carousel {
    cursor: pointer;

    &:hover {
      .playTrailer {
        opacity: 1;
      }
    }
    .playTrailer {
      @apply absolute top-1/2 left-1/2
        scale-100 text-white rounded-full opacity-0 transition duration-700 cursor-pointer outline-none;
      transform: translate(-50%, -50%);
      i {
        @apply border-2 border-solid border-white rounded-full text-white 
          cursor-pointer transition-all scale-100 hover:scale-110;
        padding: 25px;
        font-size: 25px;
      }
    }
    .slides {
      .slick-prev {
        @apply absolute top-1/2 z-10 left-7 w-12 h-12;
      }
      .slick-next {
        @apply absolute top-1/2 z-10 right-12 w-12 h-12;
      }
    }
  }
}
