@layer components {
  .comment {
    @apply flex px-4 pt-2 rounded-md;
    background-color: #1a222a;
    &__avatar {
      @apply w-3/12 h-16 p-1.5 rounded-full;
      img {
        @apply w-full rounded-full;
        border: 2px solid #31d7a9;
      }
    }
    &__wrapper {
      @apply px-4;

      &__author {
        @apply text-lg font-medium;
      }
      &__content {
        @apply text-gray-400;
      }
      &__react {
        @apply flex flex-wrap text-sm my-2;

        .like::after,
        .dislike::after {
          content: "|";
          margin-left: 8px;
        }
      }
    }
  }
}
