@layer components {
  .movie-summary-banner {
    @apply w-full mx-auto border rounded-md overflow-hidden;
    background-color: rgba(15, 21, 26, 0.8);
    height: 600px;
    border-color: #11326f;

    &__img{
        @apply w-full h-1/2 overflow-hidden;
        img{
            @apply w-full h-full object-cover object-left-top;
        }
    }

    &__content{
        @apply px-4 mt-1;
        &__title{
            @apply font-medium text-2xl text-center;
        }
    }
  }
}
