@layer components {
  .movie-summary-banner {
    @apply w-full mx-auto border rounded-xl;
    background-color: rgba(15, 21, 26, 0.8);
    border-color: #11326f;

    &__img{
        @apply w-full relative top-0 left-0 rounded-tl-xl overflow-hidden;
        img{
            @apply w-full;
        }
        &::before {
            @apply absolute w-full top-0 bottom-0 z-0;
            content: "";
            background-color: rgba(2, 13, 24, 0.4);
          }
    }

    &__content{
        @apply p-4 text-center ;
        &__title{
            @apply font-medium text-xl ;
        }
        &__duration {
          @apply text-base pt-2;
          color: #31d7a9;
        }
        &__release {
          @apply text-white mb-1 pt-2;
        }
  
        &__rating {
          @apply grid grid-cols-2 gap-2 pt-2;
          &__item{
            @apply flex justify-center items-center;
          }
        }
    }
  }
}
