@layer components {
  .movie-explore {
    @apply relative w-full;
    height: 700px;

    .prev,
    .next {
      @apply w-16 cursor-pointer transition duration-300 ease-linear absolute top-1/2 opacity-40;

      &:hover {
        opacity: 1;
      }
    }
    .prev {
      @apply left-4 transform -translate-y-1/2 z-50;
    }

    .next {
      @apply right-4 transform -translate-y-1/2 z-50;
    }

    .custom-dot {
      @apply w-3/5 absolute bg-transparent left-1/2 bottom-0 transform -translate-x-1/2 text-center text-lg p-2.5 z-50;

      ul {
        @apply m-0 grid grid-cols-5 gap-4;

        li {
          div {
            @apply py-4 px-8 cursor-pointer transition duration-300 ease-linear opacity-25;
            border-top: 3px solid #fff;
            &:hover {
              opacity: 0.6;
            }
          }
          &.slick-active {
            div {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
