@layer components {
  .photos__preview {
    .slick-slider {
      transition: all 1s ease 0s;
    }
    .slick-slide {
      padding-left: 20px;
    }
    .slick-list {
      margin-left: -20px;
    }
  }
}
