@layer components {
  .post-medium {
    @apply w-full;
    height: 28rem;
    background-color: #1a222a;

    &__thumbnails {
      @apply h-2/3 overflow-hidden px-2.5 pt-2.5;
      img {
        @apply w-full h-full transition duration-300 ease-in-out;
      }
      &:hover {
        img {
          @apply transform scale-110;
        }
      }
    }
    &__content {
      @apply px-2 mt-1;
      h2 {
        @apply font-medium;
        line-height: 1.5rem;
      }
      &__category {
        a {
          @apply inline-block font-medium text-xs italic uppercase px-1 py-0.5 
          transition-all duration-300 ease-in-out mr-1;
          color: "#fff";
          background-color: #df7e08;
          &:hover {
            @apply bg-gray-600;
          }
        }
      }
    }
  }
}
