@layer components {
  .header {
    @apply w-full h-16 transition-all duration-200 
    fixed top-0 right-0 left-0  flex items-center;
    background: rgb(26, 26, 26);
    z-index: 1000;

    .header-label,
    .header-auth {
      @apply text-base font-bold uppercase  px-3 py-2 relative inline-block;
    }

    .header-label::before {
      content: "";
      background: #31d7a9;
      @apply w-0 h-0 absolute bottom-0 left-0;
    }

    .header-label:hover::before {
      @apply w-full h-0.5 transition-all duration-200 ease-in origin-left;
    }

    .header-auth {
      @apply inline-flex items-center justify-center px-4 py-2 rounded-md;
      background-image: linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
      );
    }
    .avatar-user {
      background-image: linear-gradient(
        169deg,
        #5560ff 17%,
        #aa52a1 63%,
        #ff4343 100%
      );
    }
    .header-auth.selected {
      padding: 1.5px;
      a {
        @apply px-4 py-2 rounded-md;
        background: rgb(26, 26, 26);
      }
    }

    .header-label.active {
      color: #31d7a9;
      &::before {
        @apply w-full h-0.5;
      }
    }
  }
}
