@layer components {
  .form-profile {
    padding: 1rem 2rem;
    background-color: #1a222a;
    border-radius: 5px;

    input,
    select,
    textarea {
      @apply block w-full py-2 pl-2 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500;
      background-color: #131516;
    }

    label {
      @apply inline-block mb-0.5 text-lg font-medium italic;
    }

    .btn-edit-profile {
      @apply inline-block py-2 px-6 italic font-medium rounded-md 
            transition duration-300 cursor-pointer uppercase;
      background-color: #ffc033;
      &:hover {
        color: #000;
      }
    }
  }
}
