@layer components {
  .form-profile {
    padding: 1rem 2rem;
    background-color: #1a222a;
    border-radius: 5px;
    
    form {
      display: block;
      width: 100%;
    }

    input,
    select,
    textarea {
      @apply block w-full py-2 pl-2 rounded-md text-lg focus:outline-none ;
      background-color: #131516;
    }

    label {
      @apply inline-block mb-0.5 font-medium italic text-gray-400;
    }

    .btn-edit-profile {
      @apply inline-block py-2 px-6 italic font-medium rounded-md 
            transition duration-300 cursor-pointer uppercase;
      background-color: #131516;
      &:hover {
        color: #000;
        background-color: #ffc033;
      }
    }
  }
}
