@layer components {
  .screen {
    @apply w-full pb-10;

    &__area {
      @apply w-3/12 text-xl text-center mx-auto mb-3 pb-2 relative;
      color: #31d7a9;
      &::before {
        content: "";
        @apply absolute top-0 left-1/2 w-4/5 h-0.5 transform -translate-x-1/2;
        background: #213a69;
      }
      &::after {
        content: "";
        @apply absolute bottom-0 left-1/2 w-full h-0.5 transform -translate-x-1/2;
        background: #213a69;
      }
    }
    &__img {
      @apply max-w-xl mx-auto mt-3 mb-2;
    }
    &__wrapper {
      @apply w-full pt-8;
      &__row {
        @apply flex space-x-10 mb-5 justify-center items-center;
        ul {
          @apply flex flex-wrap space-x-4;
          li{
            cursor: pointer;
          }
          li:hover {
            background-image: url(../../../../assets/images/movie/seat01-booking.png);
          }
        }
      }

      &__couple {
        @apply flex space-x-6 mb-5 justify-center items-center;
        ul {
          @apply flex flex-wrap space-x-9;
          li{
            cursor: pointer;
          }
        }
      }
    }

    &__seat-info{
      @apply flex justify-center items-center text-center mt-8;
      &__item{
        @apply flex justify-center items-center mx-4;
        &__label{
          @apply mr-3;
        }
      }
    }
  }
}
