@layer components {
  .footer {
    @apply w-full py-14 mt-8;
    background: #131517;
    &__wrapper {
      @apply grid grid-cols-4 gap-4 border-t border-gray-500 pt-14;

      &__left {
        &__header {
          @apply grid grid-cols-3;
          &__title {
            @apply text-xl font-bold;
          }

          &__nav {
            @apply col-span-2 grid grid-cols-3 text-lg;
            .footer__nav--item {
              @apply whitespace-nowrap inline-block font-medium -mr-6;
              &:hover {
                color: #fff;
              }
            }
          }
        }

        &__info {
          @apply mt-6 italic;
        }
        &__contact {
          @apply mt-6;
        }
        &__copyright {
          @apply mt-6;
        }
      }

      &__middle {
        margin-left: -2rem;
        padding-right: 2rem;
        &__title {
          @apply text-xl font-bold;
        }
        &__icon {
          @apply grid grid-cols-5 gap-4;
        }
      }

      &__right {
        &__title {
          @apply text-xl font-bold;
        }
        &__list {
          @apply w-full grid grid-cols-5 gap-4 -mt-2;

          .list__social__item {
            @apply flex items-center justify-center w-12 h-12 border border-solid rounded-full border-gray-600 text-xl;
            &:hover {
              @apply transition duration-500 ease-in-out;
            }
          }
        }
      }
    }
  }
}
