@layer components {
  .slide-explore {
    @apply flex items-center overflow-hidden relative;
    height: 700px;

    .bg {
      @apply p-8 transform skew-x-6 absolute pl-80 -left-32 h-full;
      background-color: rgba(black, 0.6);
      width: 55%;
      transform-origin: 0 100%;

      &::before {
        @apply w-full h-full absolute top-0 left-0 pointer-events-none transform skew-x-12;
        content: "";
        background-color: inherit;
      }
    }

    .details {
      @apply p-20 pl-40 z-10;
      //z-index: 100;
      .title {
        @apply text-3xl font-bold mb-2 uppercase -mt-1.5;
      }
      .duration {
        @apply text-base mb-2;
        color: #31d7a9;
      }
      .movie-summary {
        @apply text-base mb-3;
      }
      .release {
        @apply text-white mb-2;
      }

      .rating {
        @apply grid grid-cols-5 gap-4 py-2 px-0 mb-1;
        .item {
          @apply flex flex-row;
        }
      }
      .genres {
        a {
          @apply inline-block border-2 font-medium text-xs uppercase px-3.5 py-2 rounded-3xl transition-all duration-300 ease-in-out mr-4;
          color: "#9aace5";
          border-color: rgba(168, 177, 198, 0.2);
          &:hover {
            @apply bg-gray-600;
          }
        }
      }
      .btn {
        button {
          @apply uppercase px-3.5 py-2 bg-gray-600 text-white rounded-xl focus:outline-none opacity-75;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .illustration {
      div {
        height: 25rem;
        width: 18rem;
        border-radius: 3rem;
        background-color: #ffff;
        position: relative;
        transform: skewX(-10deg);
        margin-left: 10rem;

        // @media only screen and (max-width: 800px) {
        //   height: 20rem;
        //   width: 15rem;
        // }

        &::after,
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: url(../../assets/images/poster_explore.jpg);
          background-position:top left;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 3rem;
          top: 0;
          left: 0;
        }

        &::after {
          transform: translate(6rem, -2rem);
        }
        &::before {
          transform: translate(3rem, -3rem);
        }
      }
    }
  }
}
