/* ./src/index.css */
:root {
  --color-primary: #001232;
  --color-secondary: #06121e;
  /* ... */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-large {
    @apply inline-block bg-btn-gradient 
          rounded-full py-3 px-12 uppercase font-bold 
          transition duration-500 ease-in-out transform 
          hover:-translate-y-1 hover:scale-110 
          hover:shadow-btn-shadow focus:outline-none;
  }
  .bg-img {
    @apply bg-cover bg-center bg-no-repeat;
  }
}

*::-webkit-scrollbar-track {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #808080;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #afacac;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #dbe2fb;
  background-color: var(--color-primary);
  font-size: 16px;
  line-height: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
