@layer components {
  .review__details {
    @apply flex flex-wrap items-start py-4 px-4 mb-4 rounded-md;
    border-bottom: 1px dashed #102651;

    &__author {
      @apply flex flex-col justify-center items-center w-1/5 text-center;

      .avatar {
        @apply w-16 h-16 p-1.5 rounded-full;
        border: 1px solid rgba(49, 215, 169, 0.5);

        img {
          @apply max-w-full rounded-full;
          border: 2px solid #31d7a9;
        }
      }

      .info {
        width: calc(100% -64px);
        span {
          color: #bdcaf3;
          @apply text-sm block capitalize;
        }
      }
    }

    &__content {
      @apply w-4/5;
      .articles {
        @apply font-normal mb-5;
        line-height: 28px;
      }

      .react {
        @apply flex flex-wrap text-sm;

        .like::after,
        .dislike::after {
          content: "|";
          margin-left: 20px;
        }
      }
    }
  }
}
