@layer components {
  .schedule-section {
    &__content {
      background-color: rgb(26, 34, 42);
      height: 700px;

      @apply flex flex-wrap;

      &__theater {
        @apply w-1/12 capitalize grid grid-flow-row grid-rows-6;
        height: 700px;
        border-right: 1px solid gray;
        li {
          @apply flex items-center text-lg cursor-pointer p-4;
          opacity: 0.5;

          &.active {
            background: #2d3748;
            opacity: 1;
          }
          &:hover {
            background: #2d3748;
            transition: all 0.3s ease;
            opacity: 1;
          }

          img {
            width: 100%;
            margin-right: 15px;
          }
        }
      }

      &__cinema {
        @apply w-3/12 capitalize overflow-auto;
        height: 700px;
        &::-webkit-scrollbar {
          width: 0px;
          background-color: #afacac;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #131516;
        }

        border-right: 1px solid gray;
        li {
          @apply flex flex-nowrap items-center cursor-pointer p-4 pb-5;
          height: calc(700px / 6);
          opacity: 0.5;

          &.active {
            opacity: 1;
            background: #2d3748;
          }
          &:hover {
            opacity: 1;
            background: #2d3748;
            transition: all 0.3s ease;
          }

          img {
            width: 30%;
            height: 90%;
            margin-right: 15px;
          }

          .cinema-address {
            span {
              color: #31d7a9;
            }
          }
        }
      }

      &__showtimes {
        @apply w-8/12 grid  grid-flow-row;
        height: 700px;

        &__date {
          @apply inline-flex overflow-auto items-center h-1/6;

          height: 80px;
          &::-webkit-scrollbar {
            height: 2px;
            background-color: #afacac;
            cursor: pointer;
            &:hover {
              cursor: pointer;
            }
          }
          &::-webkit-scrollbar-thumb {
            background-color: #131516;
            cursor: pointer;
            &:hover {
              cursor: pointer;
            }
          }

          .item {
            @apply flex-shrink-0 text-center cursor-pointer opacity-50;
            width: calc(100% / 6);
            padding: 0 10px;

            &.active {
              opacity: 1;
            }
          }
        }
        &__movie {
          @apply row-span-5 overflow-auto;
          height: 700px;
          &::-webkit-scrollbar {
            width: 2px;
            background-color: #afacac;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #131516;
          }
          &__item {
            @apply py-8 px-5 border-b border-gray-500;
          }
          ul {
            @apply grid grid-cols-4 gap-4;
          }
        }
      }
    }
  }
}
